*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    font-family:'Times New Roman', Times, serif;
	word-spacing:2px;
}
.form-section{
    margin-top:20px;
}
.form-box{
    border:1px solid #dddd;
    padding:15px 20px 15px 20px;
}
.footer-section{
    height:40px;
    line-height:40px;
}
